.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0px;
  text-align: center;
  color: $whiteLight;

	a {
		text-decoration: none;
		color: $grey;
		font-weight: bold;
		transition: all 0.35s ease;

		&:hover {
			color: $green;
		}

	}

}